
body{
background-color:rosybrown ;
}


 h1{
color:black ;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
background:black ;
}

p{
color:black ;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font: size 20px; ;
background:r ;
}